body {
  box-sizing: border-box;
  padding-top: 96px;
  position: relative;
}

section {
  padding: 80px 16px;
  box-sizing: border-box;
}
section.small-padding {
  padding: 48px 16px;
}

section .wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 40px 16px;
  }
  section.small-padding {
    padding: 32px 16px;
  }
}

.bg-white {
  background: #ffffff;
}

.bg-grey {
  background-color: #EDE2DC;
}

.bg-orange {
  background: #F9A11B;
}

.bg-black {
  background: #000000;
  color: #ffffff;
}

.align-center {
  text-align: center;
}

h2 {
  font-size: 48px;
  letter-spacing: 1px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 24px;
  letter-spacing: 0.4px;
  width: 768px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

p.small {
  font-size: 18px;
  letter-spacing: 0.2px;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 20px;
  }
  p.small {
    font-size: 16px;
  }
}

input {
  width: 375px;
  max-width: 100%;
  padding: 16px;
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid #000000;
}

.button {
  font-family: 'honey_and_raspberriesregular';
  text-transform: uppercase;
  font-size: 24px;
  border: 2px solid transparent;
  border-bottom: 5px solid #DFBB0F;
  letter-spacing: 2px;
  background: #F9A11B;
  position: relative;
  cursor: pointer;
  transition-duration: 400ms;
  box-shadow: 0 10px 10px rgba(188, 112, 12, 0.8);
}
.button:hover {
  box-shadow: 0 5px 5px rgba(188, 112, 12, 0.4);
}

.form-success {
  color: #AEBA31;
  text-shadow: 0 5px 10px rgba(66, 66, 66, 0.2);
}
.form-failure {
  color: #EE2225;
  text-shadow: 0 5px 10px rgba(66, 66, 66, 0.2);
}

.split {
  width: 100%;
  display: flex;
}

.split > div {
  flex-grow: 0;
}
.split > div:first-child {
  margin: 0 16px 0 0;
}
.split > div:last-child {
  margin: 0 0 0 16px;
}

.split-60 {
  width: 60%;
}
.split-40 {
  width: 40%;
}

.split img {
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .split {
    flex-direction: column;
  }

  .split-60,
  .split-40 {
    width: 100%;
  }

  .split > div:first-child {
    margin: 0 0 16px;
  }
  .split > div:last-child {
    margin: 16px 0 0 0;
  }
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex-grow: 0;
  width: 320px;
  max-width: 100%;
  border: 2px solid transparent;
  border-radius: 5px;
  background: #FEFBE8;
  position: relative;
  padding: 8px;
  margin-bottom: 64px;
  transition-duration: 400ms;
}
.card .wrapper {
  border: 2px solid #AEB932;
  position: relative;
  padding: 6px;
  height: 100%;
}
.card .wrapper .wrapper {
  padding: 16px;
}

.card .top-left {
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #AEB932;
  border-right: 2px solid #AEB932;
  border-bottom-right-radius: 5px;
  top: -2px;
  left: -2px;
  background: #FEFBE8;
}
.card .bottom-left {
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid #AEB932;
  border-right: 2px solid #AEB932;
  border-top-right-radius: 5px;
  bottom: -2px;
  left: -2px;
  background: #FEFBE8;
}
.card .top-right {
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #AEB932;
  border-left: 2px solid #AEB932;
  border-bottom-left-radius: 5px;
  top: -2px;
  right: -2px;
  background: #FEFBE8;
}
.card .bottom-right {
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid #AEB932;
  border-left: 2px solid #AEB932;
  border-top-left-radius: 5px;
  bottom: -2px;
  right: -2px;
  background: #FEFBE8;
}
.card h3 {
  text-align: center;
  /* color: #B5191E;
  text-shadow: 1px 1px 0px #AEB932; */
  transition-duration: 400ms;
}

.card:hover {
  box-shadow: 0 10px 10px rgba(188, 112, 12, 0.8);
  transform: translateY(2px);
}
.card:hover h3 {
  /* text-shadow: 2px 2px 4px #AEB932; */
}

/* Header */
header {
  box-sizing: border-box;
  background: #ffffff;
  padding: 16px 0;
  height: 96px;
  width: 100%;
  top: 0;
  position: fixed;
  box-shadow: 0 10px 10px rgba(66, 66, 66, 0.2);
  z-index: 99;
}

header .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

header img.logo {
  height: 64px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  body {
    padding-top: 72px;
  }

  header {
    text-align: center;
    height: 72px;
  }

  header > a {
    text-align: center;
  }

  header img.logo {
    height: 40px;
  }
}

footer a {
  color: #101010;
}

footer a svg {
  display: block;
  margin: 0 auto;
}

/* Hero */
.hero {
  width: 100%;
  height: calc(100vh - 96px);
  background: #FFFFFF;
  /* background-color: #DCDBD7; */
  /* background-image: url("../images/hero.webp"); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero .hero-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero .hero-logo:before {
  content: "";
  background-image: url("../images/hero-logo.webp");
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: rocking 3s linear infinite;
}

.hero .hero-logo:after {
  content: "";
  background-image: url("../images/hero-logo-flip.webp");
  position: absolute;
  right: 0;
  width: 20%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: rocking-flip 3s linear infinite;
}

.hero p {
  width: 768px;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  padding: 32px 0;
}

@media only screen and (max-width: 768px) {
  .hero {
    display: flex;
    justify-content: space-between;
  }

  .hero p {
    max-width: 100%;
    padding: 0 16px 16px;
    font-size: 20px;
    box-sizing: border-box;
  }

  .hero .hero-logo {
    position: relative;
    width: 50vw;
    height: 50vw;
    z-index: 1;
  }

  .hero .hero-logo:after {
    display: none;
  }
  .hero .hero-logo:before {
    width: 100%;
  }
}

@keyframes rocking {
  0% {
    transform: rotate(-15deg);
  }
  10% {
    transform: rotate(-15deg);
  }

  45% {
    transform: rotate(15deg)
  }
  55% {
    transform: rotate(15deg)
  }
  
  90% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes rocking-flip {
  0% {
    transform: rotate(15deg);
  }

  10% {
    transform: rotate(15deg);
  }

  45% {
    transform: rotate(-15deg)
  }

  55% {
    transform: rotate(-15deg)
  }

  90% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

.hero .hero-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.hero h1.words {
  width: 768px;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  padding: 48px 0;
  box-sizing: border-box;
  height: 196px;
  line-height: 100px;
  font-size: 100px;
}

.hero h1.words span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  left: 50%;
  animation: rotateWord 12s linear infinite 0s;
}

.hero h1.words .words-1 {
  animation-delay: -12s;
  color: #B4191E;
}

.hero h1.words .words-2 {
  animation-delay: -9s;
  color: #AEB932;
}

.hero h1.words .words-3 {
  animation-delay: -6s;
  color: #EF5820;
}

.hero h1.words .words-4 {
  animation-delay: -3s;
  color: #605923;
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0;
    transform: translateX(-50%) translateY(-30px);
  }

  5% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }

  17% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }

  20% {
    opacity: 0;
    transform: translateX(-50%) translateY(30px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.anchor {
  margin: -96px 0 96px;
}

@media only screen and (max-width: 768px) {
  .hero h1.words {
    padding: 32px 0;
    font-size: 80px;
  }
  .anchor {
    margin: -72px 0 72px;
  }
}

.hero a.hero-scroll {
  padding: 80px 0 32px;
  position: relative;
  text-decoration: none;
  color: #101010;
}

.hero a.hero-scroll span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #010101;
  border-bottom: 1px solid #010101;
  transform: rotate(-45deg);
  animation: scroll 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

.hero a.hero-scroll .hero-scroll-1 {
  animation-delay: -0.4s;
}

.hero a.hero-scroll .hero-scroll-2 {
  top: 16px;
  animation-delay: -.25s;
}

.hero a.hero-scroll .hero-scroll-3 {
  top: 32px;
  animation-delay: -0.1s;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@media only screen and (max-width: 768px) {
  .hero {
    height: calc(100vh - 72px);
  }

  /* .hero-scroll {
    display: none;
  } */
}
